# Ambiente Virtual
venv/

# Arquivos de Cache do Python
__pycache__/
*.pyc

# Banco de Dados SQLite
db.sqlite3
*.sqlite3

# Arquivos de segredos (vamos falar mais sobre isso)
.env

# Arquivos de IDE
.vscode/
.idea/

# Arquivos de dependências do Python (gerados por certas ferramentas)
*.egg-info/